.flagrate {
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	-ms-box-sizing     : border-box;
	-o-box-sizing      : border-box;
	box-sizing         : border-box;
	-ms-touch-action   : none;
	touch-action       : none; }

.flagrate,
.flagrate > *,
.flagrate-grid * {
	position          : relative;
	margin            : 0;
	padding           : 0;
	line-height       : 1em;
	vertical-align    : baseline;
	border            : none;
	font-size         : 13px;
	font-style        : inherit;
	font-family       : inherit; }

input.flagrate,
textarea.flagrate {
	-webkit-appearance: none;
	border-radius     : 0; }

button.flagrate::-moz-focus-inner {
	border : 0;
	padding: 0;
	margin : 0; }

.flagrate-icon {
	background-repeat  : no-repeat;
	background-position: 5px center; }

.flagrate.flagrate-disabled,
.flagrate.flagrate-disabled * {
	cursor: not-allowed !important; }

.flagrate-has-error input[type='file'] {
	color: #d2322d; }

button.flagrate-button {
	display            : inline-block;
	cursor             : pointer;
	padding            : 0 11px;
	border             : 1px solid transparent;
	background-repeat  : no-repeat;
	background-position: 5px center;
	background-color   : #555;
	color              : white;
	font-family        : inherit;
	font-size          : 12px;
	font-weight        : normal;
	white-space        : nowrap;
	height             : 28px;
	line-height        : 18px;
	text-align         : center;
	
	-webkit-transition: background 0.2s ease;
	-moz-transition   : background 0.2s ease;
	-ms-transition    : background 0.2s ease;
	-o-transition     : background 0.2s ease;
	transition        : background 0.2s ease; }
	
	button.flagrate-button > span:first-child {
		display           : inline-block;
		width             : 100%;
		overflow          : hidden;
		font-size         : inherit;
		line-height       : inherit;
		vertical-align    : top; }

button.flagrate-button.flagrate-icon {
	padding-left      : 25px; }

button.flagrate-button.flagrate-button-removable,
button.flagrate-pulldown {
	padding-right     : 25px; }

button.flagrate-button:hover {
	border-color      : rgba(0,0,0,0.20);
	background-color  : #444; }

button.flagrate-button:active {
	border-color      : rgba(0,0,0,1); }

button.flagrate-button:focus {
	box-shadow        : inset 0 0 0 1px rgba(0,0,0,0.20);
	outline           : none; }

button.flagrate-button.flagrate-disabled {
	border-color      : transparent;
	opacity           : 0.65; }

button.flagrate-button.flagrate-button-color-blue,
button.flagrate-button.flagrate-button-color-primary { background-color: #388dd6; }
button.flagrate-button.flagrate-button-color-blue:hover,
button.flagrate-button.flagrate-button-color-primary:hover { background-color: #2778be; }

button.flagrate-button.flagrate-button-color-lightblue,
button.flagrate-button.flagrate-button-color-info { background-color: #11c2e2; }
button.flagrate-button.flagrate-button-color-lightblue:hover,
button.flagrate-button.flagrate-button-color-info:hover { background-color: #0fb3d0; }

button.flagrate-button.flagrate-button-color-red,
button.flagrate-button.flagrate-button-color-danger { background-color: #d2322d; }
button.flagrate-button.flagrate-button-color-red:hover,
button.flagrate-button.flagrate-button-color-danger:hover { background-color: #b82b27; }

button.flagrate-button.flagrate-button-color-green,
button.flagrate-button.flagrate-button-color-success { background-color: #5bb75b; }
button.flagrate-button.flagrate-button-color-green:hover,
button.flagrate-button.flagrate-button-color-success:hover { background-color: #449b44; }

button.flagrate-button.flagrate-button-color-orange,
button.flagrate-button.flagrate-button-color-warning { background-color: #faa732; }
button.flagrate-button.flagrate-button-color-orange:hover,
button.flagrate-button.flagrate-button-color-warning:hover { background-color: #e08505; }

button.flagrate-button.flagrate-button-color-pink { background-color: #d67fae; }
button.flagrate-button.flagrate-button-color-pink:hover { background-color: #cc609a; }

button.flagrate-button.flagrate-button-color-inverse { background-color: #eee; color: #3b3b3b; }
button.flagrate-button.flagrate-button-color-inverse:hover { background-color: #fff; }

button.flagrate-button.flagrate-button-color-transparent { background-color: transparent; color: black; }
button.flagrate-button.flagrate-button-color-transparent:hover { background-color: rgba(0,0,0,0.05); }

button.flagrate-button.flagrate-button-color-link {
	background-color: transparent;
	color           : #388dd6;
	border-color    : transparent; }
button.flagrate-button.flagrate-button-color-link:focus,
button.flagrate-button.flagrate-button-color-link:hover {
	box-shadow      : none;
	text-decoration : underline;
	background-color: transparent; }

	button.flagrate-button > button.flagrate-button-remove,
	button.flagrate-pulldown > span.flagrate-pulldown-triangle {
		position   : absolute;
		display    : inline-block;
		cursor     : pointer;
		color      : rgba(255,255,255,0.25);
		top        : 50%;
		right      : 0;
		margin     : -10px 8px 0 0;
		height     : 20px;
		background : transparent; }

	button.flagrate-button > button.flagrate-button-remove::after,
	button.flagrate-pulldown > span.flagrate-pulldown-triangle::after {
		display    : inline-block;
		font-size  : 11px;
		height     : 20px;
		line-height: 19px;
		margin-top : 1px; }
	
	button.flagrate-button > button.flagrate-button-remove:hover,
	button.flagrate-button > button.flagrate-button-remove:focus,
	button.flagrate-pulldown:hover > span.flagrate-pulldown-triangle,
	button.flagrate-pulldown:focus > span.flagrate-pulldown-triangle {
		color      : #fff;
		outline    : none; }
	
	button.flagrate-button.flagrate-disabled > button.flagrate-button-remove:hover,
	button.flagrate-button.flagrate-disabled > button.flagrate-button-remove:focus,
	button.flagrate-pulldown.flagrate-disabled:hover > span.flagrate-pulldown-triangle,
	button.flagrate-pulldown.flagrate-disabled:focus > span.flagrate-pulldown-triangle {
		color      : rgba(255,255,255,0.25); }
	
	button.flagrate-button > button.flagrate-button-remove::after {
		content    : '\2716'; }
	
	button.flagrate-pulldown > span.flagrate-pulldown-triangle::after {
		content    : '\25bc'; }

div.flagrate-buttons {
	display           : inline-block;
	padding           : 0; }
	
	div.flagrate-buttons > button.flagrate-button {
		margin        : 0; }

div.flagrate-menu {
	z-index           : 2;
	display           : inline-block;
	border            : 1px solid #444;
	padding           : 4px 0;
	background-color  : #fff; }

div.flagrate-pulldown-menu {
	position          : absolute;
	margin            : 4px 0 0 0;
	background-color  : #555;
	overflow-x        : hidden;
	overflow-y        : auto;
	max-height        : 200px; }

div.flagrate-context-menu {
	z-index           : 99999999;
	position          : fixed;
	margin            : 0;
	border-color      : #555; }
	
	div.flagrate-menu > hr {
		border          : none;
		height          : 1px;
		background-color: #ddd;
		margin          : 4px 2px; }
	
	div.flagrate-pulldown-menu > hr {
		background-color: #444; }
	
	div.flagrate-menu > button.flagrate-button,
	div.flagrate-menu > button.flagrate-button:hover,
	div.flagrate-menu > button.flagrate-button:focus {
		display         : block;
		width           : 100%;
		width           : -moz-calc(100% + 60px);
		margin-right    : -moz-calc(45px);
		background-color: transparent;
		color           : #222;
		border          : none;
		box-shadow      : none;
		padding         : 0 30px 0 30px;
		text-align      : left;
		outline         : none; }
	
		div.flagrate-menu > button.flagrate-button > span {
			overflow: visible; }
	
	div.flagrate-menu > button.flagrate-button.flagrate-icon {
		background-position: 8px center; }
	
	div.flagrate-pulldown-menu > button.flagrate-button,
	div.flagrate-pulldown-menu > button.flagrate-button:hover,
	div.flagrate-pulldown-menu > button.flagrate-button:focus {
		color           : #ddd; }
	
	div.flagrate-menu > button.flagrate-button:hover,
	div.flagrate-menu > button.flagrate-button:focus {
		background-color: #eee; }
	
	div.flagrate-pulldown-menu > button.flagrate-button:hover,
	div.flagrate-pulldown-menu > button.flagrate-button:focus {
		background-color: #444; }
	
	div.flagrate-menu > button.flagrate-button:active {
		color           : #000;
		background-color: #ddd; }
	
	div.flagrate-pulldown-menu > button.flagrate-button:active {
		color           : #fff;
		background-color: #333; }
	
	div.flagrate-menu > button.flagrate-disabled,
	div.flagrate-menu > button.flagrate-disabled:hover,
	div.flagrate-menu > button.flagrate-disabled:focus,
	div.flagrate-menu > button.flagrate-disabled:active {
		color           : #aaa; }

div.flagrate-tab { }

div.flagrate-tab.flagrate-tab-fill {
	width   : 100%;
	height  : 100%;
	overflow: hidden; }
	
	div.flagrate-tab.flagrate-tab-fill > div.flagrate-tab-head {
		position     : absolute;
		top          : 0;
		right        : 0;
		left         : 0;
		overflow     : hidden; }
	
	div.flagrate-tab > div.flagrate-tab-head {
		box-shadow: inset 0 -2px 0 #388dd6; }
		
		div.flagrate-tab > div.flagrate-tab-head > button.flagrate-button {
			background-color: transparent;
			color           : #555;
			box-shadow      : none;
			border-color    : transparent; }
		
		div.flagrate-tab > div.flagrate-tab-head > button.flagrate-button:hover,
		div.flagrate-tab > div.flagrate-tab-head > button.flagrate-button:focus {
			background-color: rgba(0,0,0,0.1);
			color           : #000;
			outline         : none; }
		
		div.flagrate-tab > div.flagrate-tab-head > button.flagrate-button.flagrate-tab-selected {
			background-color: #388dd6;
			color           : #fff;
			cursor          : default; }
	
	div.flagrate-tab > div.flagrate-tab-body {
		background-color: inherit;
		padding         : 10px 0; }
	
	div.flagrate-tab.flagrate-tab-fill > div.flagrate-tab-body {
		position     : absolute;
		top          : 28px;
		right        : 0;
		bottom       : 0;
		left         : 0;
		overflow     : auto; }

div.flagrate-popover {
	z-index           : 99999999;
	position          : fixed;
	margin            : 0;
	padding           : 10px;
	max-width         : 320px;
	background-color  : rgba(0,0,0,0.8);
	color             : white;
	word-break        : break-all;
	white-space       : normal;
	margin            : 10px 0;
	padding           : 10px;
	width             : auto;
	height            : auto;
	line-height       : 18px;
	font-size         : 12px;
	/*-webkit-transition: opacity 0.2s ease 0.25s;
	-moz-transition   : opacity 0.2s ease 0.25s;
	-ms-transition    : opacity 0.2s ease 0.25s;
	-o-transition     : opacity 0.2s ease 0.25s;
	transition        : opacity 0.2s ease 0.25s;*/ }

div.flagrate-popover::before {
	position        : absolute;
	left            : 50%;
	margin-left     : -7px;
	display         : inline-block;
	content         : ''; }

div.flagrate-popover.flagrate-popover-tail-top::before {
	top             : -7px;
	border-right    : 7px solid transparent;
	border-bottom   : 7px solid rgba(0,0,0,0.8);
	border-left     : 7px solid transparent; }

div.flagrate-popover.flagrate-popover-tail-bottom::before {
	bottom          : -7px;
	border-top      : 7px solid rgba(0,0,0,0.8);
	border-right    : 7px solid transparent;
	border-left     : 7px solid transparent; }
	
	div.flagrate-popover img {
		max-width: 100%; }

div.flagrate-popover.flagrate-tutorial {}
	
	div.flagrate-popover.flagrate-tutorial > div {}
		
		div.flagrate-popover.flagrate-tutorial > div > div {
			margin-top   : 10px;
			margin-bottom: 15px;
			min-width    : 200px;
			text-align   : center; }
		
		div.flagrate-popover.flagrate-tutorial > div > footer {}
			
			div.flagrate-popover.flagrate-tutorial > div > footer > button {
				float      : right;
				margin-left: 5px; }

div.flagrate-tutorial button.flagrate-tutorial-button-finish::before {
	content: '\2714'; }

div.flagrate-tutorial button.flagrate-tutorial-button-prev::before {
	content: '\25c0'; }

div.flagrate-tutorial button.flagrate-tutorial-button-next::before {
	content: '\25b6'; }

div.flagrate-tutorial button.flagrate-tutorial-button-abort::before {
	content: '\2716'; }

input.flagrate-textinput,
textarea.flagrate-textarea,
div.flagrate-tokenizer {
	display           : inline-block;
	border            : 1px solid rgba(0,0,0,0.35); 
	background-color  : #fff;
	padding           : 5px 9px 4px;
	color             : #222;
	line-height       : 21px;
	width             : 240px; }

input.flagrate-textinput {
	height            : 32px; }

input.flagrate-textinput.flagrate-icon,
textarea.flagrate-textarea.flagrate-icon,
div.flagrate-tokenizer.flagrate-icon {
	padding-left      : 25px; }

input.flagrate-textinput:focus,
textarea.flagrate-textarea:focus,
div.flagrate-tokenizer:hover {
	border-color      : rgba(0,0,0,0.6);
	color             : #000;
	outline           : none; }

.flagrate-has-success input.flagrate-textinput,
.flagrate-has-success textarea.flagrate-textarea,
.flagrate-has-success div.flagrate-tokenizer {
	border-color: #449b44; }

.flagrate-has-success input.flagrate-textinput:focus,
.flagrate-has-success textarea.flagrate-textarea:focus,
.flagrate-has-success div.flagrate-tokenizer:focus {
	border-color: #5bb75b; }

.flagrate-has-warning input.flagrate-textinput,
.flagrate-has-warning textarea.flagrate-textarea,
.flagrate-has-warning div.flagrate-tokenizer {
	border-color: #e08505; }

.flagrate-has-warning input.flagrate-textinput:focus,
.flagrate-has-warning textarea.flagrate-textarea:focus,
.flagrate-has-warning div.flagrate-tokenizer:focus {
	border-color: #faa732; }

.flagrate-has-error input.flagrate-textinput,
.flagrate-has-error textarea.flagrate-textarea,
.flagrate-has-error div.flagrate-tokenizer {
	border-color: #b82b27; }

.flagrate-has-error input.flagrate-textinput:focus,
.flagrate-has-error textarea.flagrate-textarea:focus,
.flagrate-has-error div.flagrate-tokenizer:focus {
	border-color: #d2322d; }

div.flagrate-tokenizer {
	cursor            : text;
	padding           : 0px 5px 4px 3px;
	width             : 240px; }

input.flagrate-disabled,
textarea.flagrate-disabled,
div.flagrate-disabled,
div.flagrate-disabled:hover {
	border-color      : rgba(0,0,0,0.2);
	background-color  : #e5e5e5;
	color             : #555; }

div.flagrate-tokenizer.flagrate-icon {
	padding-left      : 23px; }
	
	div.flagrate-tokenizer > span {
		display: inline-block;
		margin : 2px 0 0 3px;
		vertical-align: top; }
		
		div.flagrate-tokenizer > span > button.flagrate-button,
		div.flagrate-tokenizer > span > button.flagrate-button:hover,
		div.flagrate-tokenizer > span > button.flagrate-button:active {
			padding         : 2px 4px 1px;
			margin          : 3px 4px 0 0;
			cursor          : default;
			border-width    : 1px;
			border-color    : rgba(0,0,0,0.25);
			color           : rgba(0,0,0,0.85);
			font-size       : 10px;
			line-height     : 10px;
			height          : 20px;
			background-color: #ddd;
			box-shadow      : none;
			text-align      : left;
			vertical-align  : top; }
			
			div.flagrate-tokenizer > span > button.flagrate-button.flagrate-button-removable > span {
				padding-right: 14px; }
			
			div.flagrate-tokenizer > span > button.flagrate-button > button.flagrate-button-remove {
				height          : 10px;
				margin          : -5px 4px 0 0;
				color           : rgba(0,0,0,0.35); }
			
			div.flagrate-tokenizer > span > button.flagrate-button > button.flagrate-button-remove::after {
				font-size       : 10px;
				height          : 10px;
				line-height     : 9px;
				vertical-align  : top; }
			
			div.flagrate-tokenizer > span > button.flagrate-button > button.flagrate-button-remove:hover,
			div.flagrate-tokenizer > span > button.flagrate-button > button.flagrate-button-remove:focus {
				color           : #fff;
				background-color: rgba(0,0,0,0.4);
				box-shadow      : 0 0 0 2px rgba(0,0,0,0.4); }
	
	div.flagrate-tokenizer > input {
		display   : inline-block;
		width     : 65px;
		height    : 21px;
		padding   : 0 0 0 2px;
		margin    : 5px 0 0 2px;
		border    : none;
		box-shadow: none;
		vertical-align: top; }
	
	div.flagrate-tokenizer > div.flagrate-menu {
		position  : absolute;
		top       : 100%;
		margin-top: -2px; }

div.flagrate-select {
	display         : inline-block; }

div.flagrate-select.flagrate-select-list-view {
	max-height      : 100px;
	border          : 1px solid rgba(0,0,0,0.35);
	overflow-y      : auto; }

div.flagrate-has-success div.flagrate-select.flagrate-select-list-view {
	border-color    : #449b44; }

div.flagrate-has-warning div.flagrate-select.flagrate-select-list-view {
	border-color    : #e08505; }

div.flagrate-has-error div.flagrate-select.flagrate-select-list-view {
	border-color    : #b82b27; }
	
	div.flagrate-select > button.flagrate-pulldown {
		display         : block;
		width           : 100%;
		height          : 32px;
		font-size       : 13px;
		line-height     : 20px;
		background-color: #fff;
		color           : #555;
		text-align      : left;
		border-color    : rgba(0,0,0,0.35); }
	
		div.flagrate-select > button.flagrate-pulldown > span {
			height          : 20px; }

	div.flagrate-has-success div.flagrate-select > button.flagrate-pulldown {
		border-color    : #449b44; }

	div.flagrate-has-warning div.flagrate-select > button.flagrate-pulldown {
		border-color    : #e08505; }

	div.flagrate-has-error div.flagrate-select > button.flagrate-pulldown {
		border-color    : #b82b27; }
	
	div.flagrate-select > button.flagrate-pulldown:focus,
	div.flagrate-select > button.flagrate-pulldown:hover {
		border-color: rgba(0,0,0,1);
		color       : rgba(0,0,0,1); }

	div.flagrate-has-success div.flagrate-select > button.flagrate-pulldown:focus {
		border-color    : #5bb75b; }

	div.flagrate-has-warning div.flagrate-select > button.flagrate-pulldown:focus {
		border-color    : #faa732; }

	div.flagrate-has-error div.flagrate-select > button.flagrate-pulldown:focus {
		border-color    : #d2322d; }
	
	div.flagrate-select > button.flagrate-pulldown.flagrate-disabled {
		border-color      : rgba(0,0,0,0.2);
		background-color  : #e5e5e5;
		color             : #555; }
		
		div.flagrate-select > button.flagrate-pulldown > span.flagrate-pulldown-triangle {
			color: rgba(0,0,0,0.25); }
		
		div.flagrate-select > button.flagrate-pulldown > span.flagrate-pulldown-triangle:hover,
		div.flagrate-select > button.flagrate-pulldown > span.flagrate-pulldown-triangle:focus,
		div.flagrate-select > button.flagrate-pulldown:hover > span.flagrate-pulldown-triangle,
		div.flagrate-select > button.flagrate-pulldown:focus > span.flagrate-pulldown-triangle {
			color: #000; }
		
		div.flagrate-select > button.flagrate-pulldown.flagrate-disabled > span.flagrate-pulldown-triangle {
			color: rgba(0,0,0,0.25); }
	
	div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu {
		background-color: #fff; }
		
		div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu > button.flagrate-button {
			text-align      : left; }
		
		div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu > button.flagrate-button,
		div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu > button.flagrate-button:hover,
		div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu > button.flagrate-button:focus {
			color           : #222; }
		
		div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu > button.flagrate-button:hover,
		div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu > button.flagrate-button:focus {
			background-color: #eee; }
		
		div.flagrate-select > button.flagrate-pulldown+div.flagrate-pulldown-menu > button.flagrate-button:active {
			color           : #000;
			background-color: #ddd; }

div.flagrate-combobox {
	display         : inline-block;
	width           : 240px;
	height          : 32px; }
	
	div.flagrate-combobox > input.flagrate-textinput {
		display         : inline-block;
		width           : 100%;
		height          : 100%;
		padding-right   : 30px; }
	
	div.flagrate-combobox > button.flagrate-button {
		position         : absolute;
		top              : 1px;
		right            : 1px;
		bottom           : 1px;
		height           : auto;
		width            : 25px;
		box-shadow       : none;
		border-color     : transparent;
		border-left-color: rgba(0,0,0,0.2);
		color            : rgba(0,0,0,0.5);
		background-color : transparent; }
	
	div.flagrate-combobox > button.flagrate-button::after {
		display          : inline-block;
		position         : absolute;
		top              : 50%;
		right            : 5px;
		margin-top       : -9px;
		line-height      : 20px;
		height           : 20px;
		content          : '\25bc'; }
	
	div.flagrate-combobox > button.flagrate-button:hover {
		border-left-color: rgba(0,0,0,0.50);
		color            : rgba(0,0,0,0.7); }
	
	div.flagrate-combobox > button.flagrate-button:active,
	div.flagrate-combobox > button.flagrate-button:focus {
		border-left-color: #000;
		color            : #000; }
	
	div.flagrate-combobox > button.flagrate-button.flagrate-disabled {
		border-left-color: #ddd;
		color            : rgba(0,0,0,0.5); }
	
	div.flagrate-combobox > div.flagrate-menu.flagrate-combobox-menu {
		position         : absolute;
		top              : 100%;
		left             : 0;
		width            : 100%;
		max-height       : 200px;
		margin           : 4px 0 0 0;
		overflow-x       : hidden;
		overflow-y       : auto; }
	
	div.flagrate-combobox > div.flagrate-menu.flagrate-combobox-menu.flagrate-combobox-menu-upper {
		top              : auto;
		bottom           : 100%;
		margin           : 0 0 4px 0; }

label.flagrate-checkbox,
label.flagrate-radio {
	display            : inline-block;
	vertical-align     : inherit;
	height             : 20px;
	line-height        : 20px;
	margin             : 0;
	padding            : 0 10px 0 26px;
	cursor             : pointer; }

label.flagrate-checkbox.flagrate-disabled,
label.flagrate-radio.flagrate-disabled {
	color              : #777; }

.flagrate-has-error label.flagrate-checkbox,
.flagrate-has-error label.flagrate-radio {
	color              : #d2322d; }

label.flagrate-checkbox.flagrate-icon,
label.flagrate-radio.flagrate-icon {
	padding-left       : 43px;
	background-position: 25px center; }
	
	label.flagrate-checkbox > input,
	label.flagrate-radio > input {
		z-index     : 0;
		position    : absolute;
		top         : 0;
		left        : 0;
		width       : 20px;
		height      : 20px;
		padding     : 0;
		margin      : 0;
		opacity     : 0; }
	
	label.flagrate-checkbox > div,
	label.flagrate-radio > div {
		z-index         : 1;
		position        : absolute;
		top             : 0;
		left            : 0;
		content         : '';
		display         : block;
		width           : 10px;
		height          : 10px;
		border          : 3px solid #777;
		padding         : 2px;
		background-color: #fff; }
	
	label.flagrate-radio > div {
		border-radius   : 50%;
		box-shadow      : inset 0 0 0 3px #fff; }
	
	label.flagrate-checkbox > input:checked+div,
	label.flagrate-radio > input:checked+div {
		background-color: #388dd6;
		border-color    : #388dd6; }
	
	label.flagrate-checkbox:hover > div::after,
	label.flagrate-checkbox > input:checked+div::after {
		content         : '\2714'; }
	
	label.flagrate-radio:hover > div {
		background-color: #ddd; }
	
	label.flagrate-checkbox:hover > div::after {
		color           : #ddd; }
	
	label.flagrate-checkbox > input:checked+div::after {
		color           : #fff; }
	
	label.flagrate-checkbox:hover > input:checked+div::after {
		color           : rgba(255,255,255,0.9); }
	
	label.flagrate-checkbox > input:focus+div {
		box-shadow      : 0 0 0 2px rgba(0,0,0,0.15); }
	
	label.flagrate-radio > input:focus+div {
		box-shadow      : inset 0 0 0 3px #fff, 0 0 0 2px rgba(0,0,0,0.25); }
	
	label.flagrate-checkbox > input:active+div,
	label.flagrate-radio > input:active+div {
		border-color    : #000; }
	
	label.flagrate-checkbox.flagrate-disabled > div,
	label.flagrate-checkbox.flagrate-disabled > input:active+div {
		box-shadow      : inset 0 0 0 10px rgba(255,255,255,0.3);
		border-color    : #999; }
	
	label.flagrate-radio.flagrate-disabled > div,
	label.flagrate-radio.flagrate-disabled > input:active+div {
		box-shadow      : inset 0 0 0 3px #fff, inset 0 0 0 10px rgba(255,255,255,0.3);
		border-color    : #999; }
	
	label.flagrate-checkbox.flagrate-disabled > input:checked+div,
	label.flagrate-checkbox.flagrate-disabled > input:checked:active+div,
	label.flagrate-radio.flagrate-disabled > input:checked+div,
	label.flagrate-radio.flagrate-disabled > input:checked:active+div {
		border-color    : rgba(255,255,255,0.3); }

div.flagrate-checkboxes,
div.flagrate-radios {
	display: inline-block;
	line-height: 25px;
}

button.flagrate-switch,
button.flagrate-switch:disabled {
	display         : inline-block;
	padding         : 0;
	width           : 60px;
	height          : 20px;
	box-shadow      : inset 0 0 0 1px rgba(255,255,255,0.7);
	border          : 2px solid #777;
	background-color: #777; }

button.flagrate-switch:disabled {
	opacity         : 0.4; }

button.flagrate-switch::after {
	position        : absolute;
	content         : '';
	display         : block;
	width           : 15px;
	height          : 20px;
	left            : -2px;
	top             : -2px;
	background-color: #000;
	-webkit-transition: all 0.2s ease;
	-moz-transition   : all 0.2s ease;
	-ms-transition    : all 0.2s ease;
	-o-transition     : all 0.2s ease;
	transition        : all 0.2s ease; }

button.flagrate-switch[data-flagrate-switch-status="on"] {
	background-color: #388dd6; }

button.flagrate-switch[data-flagrate-switch-status="on"]::after {
	left            : 43px; }

button.flagrate-switch:focus,
button.flagrate-switch:hover {
	box-shadow      : inset 0 0 0 1px #fff; }

div.flagrate-toolbar {
	display         : inline-block;
	padding         : 5px;
	background-color: #555; }
	
	div.flagrate-toolbar > * {
		display       : inline-block;
		margin-left   : 5px;
		vertical-align: top;
		border        : none;
		height        : 24px;
		-webkit-box-sizing : border-box;
		-moz-box-sizing    : border-box;
		-ms-box-sizing     : border-box;
		-o-box-sizing      : border-box;
		box-sizing         : border-box; }
	
	div.flagrate-toolbar > *:first-child {
		margin-left: 0; }
	
	div.flagrate-toolbar > input.flagrate-textinput {
		padding-top     : 2px;
		padding-bottom  : 1px;
		font-size       : 12px;
		width           : 120px; }
	
	div.flagrate-toolbar > button {
		background-color: transparent; }
	
	div.flagrate-toolbar > button:focus {
		outline: none; }
	
	div.flagrate-toolbar > button.flagrate-disabled {
		box-shadow      : none;
		opacity         : 0.5; }
	
	div.flagrate-toolbar > hr {
		width           : 1px;
		background-color: rgba(0,0,0,0.25); }
	
	div.flagrate-toolbar > span {
		color           : rgba(255,255,255,0.5);
		padding         : 6px 10px 5px; }
	
	div.flagrate-toolbar > div.flagrate-pulldown-menu {
		margin-left     : 0;
		height          : auto; }
	
	div.flagrate-toolbar > div.flagrate-progress {
		display         : inline-block;
		width           : 100px;
		margin          : 7px 0 7px 10px; }

div.flagrate-progress {
	display           : block;
	height            : 5px;
	background-color  : rgba(0,0,0,0.1); }
	
	div.flagrate-progress > div {
		height          : 100%;
		width           : 0%;
		background-color: #388dd6;
		-webkit-transition: width 0.2s ease;
		-moz-transition   : width 0.2s ease;
		-ms-transition    : width 0.2s ease;
		-o-transition     : width 0.2s ease;
		transition        : width 0.2s ease; }

div.flagrate-slider {
	cursor            : pointer;
	height            : 10px; }

div.flagrate-slider.flagrate-disabled { }
	
	div.flagrate-slider.flagrate-disabled > div {
		background-color  : #888; }
	
	div.flagrate-slider > div {
		-webkit-transition: width 0.1s ease;
		-moz-transition   : width 0.1s ease;
		-ms-transition    : width 0.1s ease;
		-o-transition     : width 0.1s ease;
		transition        : width 0.1s ease; }
	
	div.flagrate-slider > div::after {
		content         : '';
		display         : block;
		position        : absolute;
		right           : 0;
		top             : 50%;
		margin          : -5px -5px 0 0;
		background-color: #000;
		width           : 10px;
		height          : 10px; }
	
	div.flagrate-slider.flagrate-disabled > div::after {
		background-color  : #555; }

div.flagrate-notify {
	z-index           : 10000;
	background-color  : rgba(0,0,0,0.7);
	background-repeat : no-repeat;
	padding           : 10px 20px;
	color             : rgba(255,255,255,0.8);
	line-height       : 14px;
	width             : 270px;
	min-height        : 80px;
	opacity           : 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition   : all 0.2s ease;
	-ms-transition    : all 0.2s ease;
	-o-transition     : all 0.2s ease;
	transition        : all 0.2s ease; }
	
div.flagrate-notify:hover {
	background-color  : rgba(0,0,0,0.65);
	color             : #fff; }
	
	div.flagrate-notify > div.title {
		font-weight: normal;
		font-size  : 15px;
		line-height: 1.25em;
		color      : #fff;
		word-break : break-all; }
	
	div.flagrate-notify > div.text {
		margin-top : 5px;
		font-weight: normal;
		font-size  : 12px;
		line-height: 1.5em; }
	
	div.flagrate-notify > div.close {
		display            : none;
		-webkit-box-sizing : border-box;
		-moz-box-sizing    : border-box;
		-ms-box-sizing     : border-box;
		-o-box-sizing      : border-box;
		box-sizing         : border-box; }
	
	div.flagrate-notify:hover > div.close {
		display    : block;
		cursor     : pointer;
		position   : absolute;
		top        : 0;
		right      : 0;
		height     : 20px;
		width      : 20px;
		color      : #fff;
		background : rgba(0,0,0,0.25);
		font-weight: bold;
		font-size  : 11px;
		line-height: 12px;
		padding    : 5px 5px; }
	
	div.flagrate-notify:hover > div.close:hover {
		background : #ff6571; }

div.flagrate-notify.flagrate-notify-icon {
	padding-left      : 100px;
	width             : 350px; }
	
	div.flagrate-notify.flagrate-notify-icon > div.icon {
		position           : absolute;
		top                : 0;
		left               : 0;
		width              : 80px;
		height             : 100%;
		background-color   : rgba(255,255,255,0.1);
		background-repeat  : no-repeat;
		background-size    : 40px 40px;
		background-position: center center; }

div.flagrate-modal {
	z-index           : 10000;
	position          : fixed;
	top               : 0;
	right             : 0;
	bottom            : 0;
	left              : 0;
	overflow          : hidden;
	color             : black;
	background-color  : transparent;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition   : all 0.1s ease;
	-ms-transition    : all 0.1s ease;
	-o-transition     : all 0.1s ease;
	transition        : all 0.1s ease; }

div.flagrate-modal.flagrate-tutorial {
	color             : white; }

div.flagrate-modal.flagrate-modal-visible {
	background-color  : rgba(0,0,0,0.4); }

	div.flagrate-modal > div {
		z-index           : 1;
		opacity           : 0;
		position          : absolute;
		right             : 0;
		left              : 0;
		height            : auto; }
	
	div.flagrate-modal.flagrate-tutorial > div {
		background-color  : rgba(0,0,0,0.5); }
	
	div.flagrate-modal.flagrate-modal-visible > div {
		opacity           : 1; }
		
		div.flagrate-modal > div > div {
			position        : absolute;
			width           : auto;
			height          : auto;
			background-color: white;
			box-shadow      : 0 0 0 1px rgba(0,0,0,0.25), 0 0 0 4px rgba(0,0,0,0.15); }
		
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			min-width       : 320px; }
		
		@media screen and (max-width: 320px){
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			min-width       : inherit;
			max-width       : inherit; }
		}
		
		@media screen and (min-width: 400px){
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			max-width       : 90%; }
		}
		
		@media screen and (min-width: 640px){
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			max-width       : 70%; }
		}
		
		@media screen and (min-width: 800px){
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			max-width       : 65%; }
		}
		
		@media screen and (min-width: 1000px){
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			max-width       : 60%; }
		}
		
		@media screen and (min-width: 1200px){
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			max-width       : 55%; }
		}
		
		@media screen and (min-width: 1400px){
		div.flagrate-modal.flagrate-sizing-flex > div > div {
			max-width       : 50%; }
		}
		
		div.flagrate-modal.flagrate-tutorial > div > div {
			background-color: transparent;
			box-shadow      : none; }
			
			div.flagrate-modal > div > div > div {
				position: relative; }
				
				div.flagrate-modal > div > div > div > div {
					word-break: break-all; }
				
				div.flagrate-modal.flagrate-sizing-full > div > div > div > div {
					position: absolute;
					top     : 0;
					right   : 0;
					bottom  : 0;
					left    : 0; }
			
			/* close button */
			div.flagrate-modal > div > div > button {
				z-index         : 1;
				position        : absolute;
				top             : 10px;
				right           : 10px;
				background      : none;
				border          : none;
				color           : #aaa;
				padding         : 0;
				height          : 10px;
				line-height     : 10px; }
				
				div.flagrate-modal > div > div > button > span::after {
					display    : inline-block;
					content    : '\2716';
					font-size  : 10px;
					font-weight: bold;
					font-family: inherit;
					text-shadow: 0 0 1px #fff; }
				
			div.flagrate-modal > div > div > button:focus,
			div.flagrate-modal > div > div > button:hover {
				color           : #e60012;
				box-shadow      : none;
				background      : none;}
				
			div.flagrate-modal > div > div > button:active {
				color           : #000; }
			
			div.flagrate-modal > div > div > button:focus {
				outline         : none; }
			
			/* header */
			div.flagrate-modal > div > div > hgroup {
				padding         : 10px 40px 10px 10px;
				/* background-color: #f5f5f5; */ }
				
				div.flagrate-modal > div > div > hgroup * {
					margin     : 0;
					padding    : 0;
					word-break : break-all; }
				
				div.flagrate-modal > div > div > hgroup > h1 {
					font-size  : 16px;
					line-height: 1.5em; }
				
				div.flagrate-modal > div > div > hgroup > small {
					font-size  : 11px;
					line-height: 1em; }
			
			/* content */
			div.flagrate-modal > div > div > div { }
				
				div.flagrate-modal > div > div > div > div {
					margin     : 10px 10px 10px 10px;
					line-height: 1.5em; }
			
			/* footer */
			div.flagrate-modal > div > div > footer {
				padding         : 10px; }
			
			div.flagrate-modal > div > div > footer::before,
			div.flagrate-modal > div > div > footer::after {
				content         : "";
				display         : table; }
			
			div.flagrate-modal > div > div > footer::after {
				clear           : both; }
				
				div.flagrate-modal > div > div > footer > button {
					float      : right;
					margin-left: 5px; }

div.flagrate-grid {
	overflow        : auto;
	background-color: #fff; }

div.flagrate-grid.flagrate-grid-fill {
	width           : 100%;
	height          : 100%;
	overflow        : hidden; }
	
	div.flagrate-grid > div.flagrate-grid-head {
		z-index      : 1;
		position     : relative;
		border-bottom: 2px solid rgba(255,255,255,0.25); }
	
	div.flagrate-grid.flagrate-grid-headless > div.flagrate-grid-head {
		display      : none; }
	
	div.flagrate-grid.flagrate-grid-fill > div.flagrate-grid-head {
		position     : absolute;
		top          : 0;
		right        : 0;
		left         : 0;
		overflow     : hidden; }
	
	div.flagrate-grid > div.flagrate-grid-body {
		position     : relative; }
	
	div.flagrate-grid.flagrate-grid-fill > div.flagrate-grid-body {
		position     : absolute;
		top          : 32px;
		right        : 0;
		bottom       : 0;
		left         : 0;
		overflow     : auto; }
	
	div.flagrate-grid.flagrate-grid-fill.flagrate-grid-headless > div.flagrate-grid-body {
		top          : 0; }
	
	div.flagrate-grid.flagrate-grid-fill.flagrate-grid-pagination > div.flagrate-grid-body {
		bottom       : 32px; }
		
		div.flagrate-grid > div > table {
			position       : relative;
			border         : none;
			border-collapse: collapse;
			table-layout   : fixed;
			overflow       : hidden;
			width          : 100%; }
				
				div.flagrate-grid > div > table > thead > tr {
					background-color: #fff;
					color           : #555; }
				
				div.flagrate-grid > div > table > thead > tr:hover {
					color           : #000; }
				
				div.flagrate-grid > div > table > tbody > tr,
				div.flagrate-select > div.flagrate-grid > div > table > tbody > tr {
					position        : relative;
					background-color: #fff; }
				
				div.flagrate-grid > div > table > tbody > tr:nth-child(odd),
				div.flagrate-grid.flagrate-disabled > div > table > tbody > tr,
				div.flagrate-select > div.flagrate-grid.flagrate-disabled > div > table > tbody > tr {
					background-color: #eee; }
				
				div.flagrate-grid > div > table > tbody > tr:hover,
				div.flagrate-select > div.flagrate-grid > div > table > tbody > tr:hover {
					background-color: #ddd; }
				
				div.flagrate-grid > div > table > tbody > tr:nth-child(odd):hover {
					background-color: #d9d9d9; }
				
				div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected,
				div.flagrate-select > div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected {
					background-color: rgba(56,141,214,0.35); }
				
				div.flagrate-grid > div > table > tbody > tr:nth-child(odd).flagrate-grid-row-selected {
					background-color: rgba(56,141,214,0.40); }
				
				div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected:hover,
				div.flagrate-select > div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected:hover {
					background-color: rgba(56,141,214,0.45); }
				
				div.flagrate-grid > div > table > tbody > tr:nth-child(odd).flagrate-grid-row-selected:hover {
					background-color: rgba(56,141,214,0.50); }
				
				div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selectable,
				div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-clickable {
					cursor: pointer; }
					
					div.flagrate-grid > div > table > thead > tr > th,
					div.flagrate-grid > div > table > tbody > tr > td {
						padding       : 0;
						height        : 30px;
						text-align    : left;
						overflow      : hidden;
						vertical-align: top;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none; }
					
					div.flagrate-grid > div > table > thead > tr > th:last-child,
					div.flagrate-grid > div > table > tbody > tr > td:last-child {
						width           : 0px; }
					
					div.flagrate-grid.flagrate-grid-fixed > div > table > thead > tr > th:last-child,
					div.flagrate-grid.flagrate-grid-fixed > div > table > tbody > tr > td:last-child {
						width           : auto;
						box-shadow      : inset 1px 0 0 rgba(0,0,0,0.1);
						background-color: rgba(255,255,255,0.2); }
					
					div.flagrate-grid:hover > div > table > thead > tr > th {
						box-shadow      : inset 1px 0 0 rgba(0,0,0,0.2); }
					
					div.flagrate-grid:hover > div > table > thead > tr > th:first-child {
						box-shadow      : none; }
					
					div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-col-sortable:hover {
						background-color: #eee;
						cursor          : pointer; }
					
					div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-col-sorted-asc,
					div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-col-sorted-desc {
						color           : rgba(56,141,214,1); }
					
						div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-col-sorted-asc > div::after,
						div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-col-sorted-desc > div::after {
							display    : inline-block;
							position   : absolute;
							top        : 0;
							left       : 50%;
							margin-top : -11px;
							margin-left: -4px;
							font-size  : 10px; }
						
						div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-col-sorted-asc > div::after {
							content    : '\25b2'; }
						
						div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-col-sorted-desc > div::after {
							content    : '\25bc'; }
					
					div.flagrate-grid > div > table > tbody > tr > td {
						position: static; }
					
					div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-cell-checkbox,
					div.flagrate-grid > div > table > tbody > tr > td.flagrate-grid-cell-checkbox {
						width: 30px; }
						
						div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-cell-checkbox > .flagrate-checkbox,
						div.flagrate-grid > div > table > tbody > tr > td.flagrate-grid-cell-checkbox > .flagrate-checkbox {
							margin: 5px 0 0 5px; }
						
							div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-cell-checkbox > .flagrate-checkbox > div,
							div.flagrate-grid > div > table > tbody > tr > td.flagrate-grid-cell-checkbox > .flagrate-checkbox > div {
								opacity: 0.4; }
						
							div.flagrate-grid > div > table > thead > tr:hover > th.flagrate-grid-cell-checkbox > .flagrate-checkbox > div,
							div.flagrate-grid > div > table > tbody > tr:hover > td.flagrate-grid-cell-checkbox > .flagrate-checkbox > div {
								opacity: 1; }
						
							div.flagrate-grid > div > table > thead > tr.flagrate-grid-row-selected > th.flagrate-grid-cell-checkbox > .flagrate-checkbox > div,
							div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected > td.flagrate-grid-cell-checkbox > .flagrate-checkbox > div {
								opacity: 1; }
					
					div.flagrate-grid > div > table > tbody > tr > td.flagrate-grid-cell-clickable {
						cursor: pointer; }
					
					div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-cell-menu,
					div.flagrate-grid > div > table > tbody > tr > td.flagrate-grid-cell-menu {
						overflow        : visible; }
						
					div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-cell-menu::after,
					div.flagrate-grid > div > table > tbody > tr > td.flagrate-grid-cell-menu::after {
						content         : '\25bc';
						display         : block;
						position        : absolute;
						right           : 0;
						margin-left     : 0;
						overflow        : visible;
						font-size       : 13px;
						width           : 13px;
						height          : 13px;
						padding         : 9px 5px 8px 5px;
						color           : rgba(0,0,0,0.2); }
						
					div.flagrate-grid > div > table > thead > tr:hover > th.flagrate-grid-cell-menu::after,
					div.flagrate-grid > div > table > tbody > tr:hover > td.flagrate-grid-cell-menu::after {
						background-color: rgba(0,0,0,0.2);
						color           : #ccc;
						box-shadow      : -1px 0 0 rgba(0,0,0,0.3); }
						
					div.flagrate-grid > div > table > thead > tr > th.flagrate-grid-cell-menu:hover::after,
					div.flagrate-grid > div > table > tbody > tr > td.flagrate-grid-cell-menu:hover::after {
						background-color: rgba(0,0,0,0.3);
						color           : #fff;
						box-shadow      : -1px 0 0 rgba(0,0,0,0.4); }
						
						div.flagrate-grid > div > table > thead > tr > th > div,
						div.flagrate-grid > div > table > tbody > tr > td > div {
							margin     : 5px 5px 0 5px;
							line-height: 20px;
							height     : 20px;
							white-space: nowrap; }
						
						div.flagrate-grid > div > table > thead > tr > th > div {
							margin-top      : 6px;
							font-size       : 11px;
							font-weight     : normal; }
						
						div.flagrate-grid > div > table > tbody > tr > td > div {
							-webkit-user-select: text;
							-moz-user-select: text;
							-ms-user-select: text;
							user-select: text; }
						
						div.flagrate-grid > div > table > thead > tr > th > div.flagrate-icon,
						div.flagrate-grid > div > table > tbody > tr > td > div.flagrate-icon {
							padding-left       : 20px;
							background-position: 0 center; }
	
	div.flagrate-grid > div.flagrate-grid-col-resize-handle {
		z-index         : 2;
		position        : absolute;
		top             : 0;
		bottom          : 0;
		width           : 4px;
		margin-left     : -4px;
		background-color: rgba(0,0,0,0);
		cursor          : col-resize; }
	
	div.flagrate-grid > div.flagrate-grid-col-resize-handle:hover {
		background-color: rgba(0,0,0,0.1); }
	
	div.flagrate-grid > div.flagrate-grid-col-resize-handle:active {
		background-color: rgba(56,141,214,0.35); }
	
	div.flagrate-grid > div.flagrate-grid-pager {
		position        : relative;
		display         : block;
		background-color: #fff;
		text-align      : right; }
	
	div.flagrate-grid.flagrate-grid-fill > div.flagrate-grid-pager {
		z-index         : 3;
		position        : absolute;
		right           : 0;
		bottom          : 0;
		left            : 0; }
		
		div.flagrate-grid > div.flagrate-grid-pager > * {
			margin-left   : 2px; }
		
		div.flagrate-grid > div.flagrate-grid-pager > span {
			color: #555;
			padding         : 6px 5px 5px; }
		
		div.flagrate-grid > div.flagrate-grid-pager > button {
			color: rgba(56,141,214,1); }
		
		div.flagrate-grid > div.flagrate-grid-pager > button.flagrate-grid-pager-first::before {
			content: '\3008'; }
		
		div.flagrate-grid > div.flagrate-grid-pager > button.flagrate-grid-pager-prev::before {
			content: '\25c0'; }
		
		div.flagrate-grid > div.flagrate-grid-pager > button.flagrate-grid-pager-next::before {
			content: '\25b6'; }
		
		div.flagrate-grid > div.flagrate-grid-pager > button.flagrate-grid-pager-last::before {
			content: '\3009'; }
		
		div.flagrate-grid > div.flagrate-grid-pager > span.flagrate-grid-pager-num { }

form.flagrate-form {
	display         : block;
	overflow        : visible;
	background-color: #fff;
	padding         : 0; }

form.flagrate-form.flagrate-form-nolabel,
form.flagrate-form.flagrate-form-vertical {
	padding         : 10px; }

	form.flagrate-form > div {
		display     : table;
		table-layout: fixed;
		width       : 100%;
		padding     : 0;
		border-top  : 1px solid #ccc; }

	form.flagrate-form > div:first-child {
		border-top: none; }

	form.flagrate-form.flagrate-form-nolabel > div,
	form.flagrate-form.flagrate-form-vertical > div {
		display   : block;
		border-top: none; }
	
		form.flagrate-form > div > * {
			display       : table-cell;
			padding       : 0;
			vertical-align: middle; }
	
		form.flagrate-form.flagrate-form-nolabel > div > *,
		form.flagrate-form.flagrate-form-vertical > div > * {
			display       : block; }
	
		form.flagrate-form > div > div.flagrate-form-field-label {
			margin        : 0;
			padding       : 0;
			width         : 25%;
			text-align    : right; }
	
		form.flagrate-form.flagrate-form-vertical > div > div.flagrate-form-field-label {
			width         : auto;
			text-align    : left; }
		
			form.flagrate-form > div > div.flagrate-form-field-label > label {
				padding    : 10px;
				display    : inline-block;
				line-height: 16px;
				word-break : break-all;
				font-weight: bold; }
		
			form.flagrate-form.flagrate-form-vertical > div > div.flagrate-form-field-label > label {
				padding    : 0;
				margin     : 10px 0 0 0; }
		
			form.flagrate-form > div > div.flagrate-form-field-label > label.flagrate-icon {
				background-position: 0 center;
				padding-left       : 20px; }
		
			form.flagrate-form > div.flagrate-required > div.flagrate-form-field-label > label::after {
				color    : #d2322d;
				margin   : 0 0 0 2px;
				font-size: 12px;
				content  : '*'; }

			form.flagrate-form > div > div > div {
				padding    : 10px 0; }

			form.flagrate-form > div > div > ul.flagrate-form-field-result {
				margin     : 0;
				line-height: 1.4em;
				font-size  : 12px;
				color      : #555;
				background : #fff;
				margin     : 0;
				padding    : 0;
				overflow   : hidden;
				height     : 0;
				max-height : 0;
				opacity    : 0;
				list-style : disc inside;
				transition : opacity 0.3s ease, max-height 0.5s ease, height 0.5s ease; }

			form.flagrate-form > div.flagrate-has-result > div > ul.flagrate-form-field-result {
				padding    : 10px;
				overflow   : auto;
				height     : auto;
				max-height : 200px;
				border-top : 1px solid #ddd;
				opacity    : 1;
				white-space: pre-wrap; }

			form.flagrate-form.flagrate-form-nolabel > div.flagrate-has-result > div > ul.flagrate-form-field-result,
			form.flagrate-form.flagrate-form-vertical > div.flagrate-has-result > div > ul.flagrate-form-field-result {
				border-top : none;
				border-left: 2px solid #ddd; }

			form.flagrate-form > div.flagrate-has-success > div > ul.flagrate-form-field-result {
				color       : #449B44;
				background  : #e2f2e2;
				border-color: #cde9cd !important; }

			form.flagrate-form > div.flagrate-has-warning > div > ul.flagrate-form-field-result {
				color       : #faa732;
				background  : #fef4e6;
				border-color: #fde3be !important; }

			form.flagrate-form > div.flagrate-has-error > div > ul.flagrate-form-field-result {
				color       : #d2322d;
				background  : #fbeeee;
				border-color: #f5d6d5 !important; }

			form.flagrate-form > div > div > div.flagrate-form-field-html,
			form.flagrate-form > div > div > p.flagrate-form-field-text {
				margin     : 0;
				padding    : 10px 0;
				font-size  : 12px;
				line-height: 1.4em; }

			form.flagrate-form > div > div > p.flagrate-form-field-text {
				white-space: pre-wrap; }

			form.flagrate-form > div > div > p.flagrate-form-field-text:nth-child(2),
			form.flagrate-form > div > div > p.flagrate-form-field-text:nth-child(3),
			form.flagrate-form > div > div > p.flagrate-form-field-text:nth-child(4),
			form.flagrate-form > div > div > p.flagrate-form-field-text:nth-child(5) {
				padding    : 10px;
				border-top : 1px solid #ddd;
				background : #eee; }

			form.flagrate-form.flagrate-form-nolabel > div > div > p.flagrate-form-field-text:nth-child(2),
			form.flagrate-form.flagrate-form-nolabel > div > div > p.flagrate-form-field-text:nth-child(3),
			form.flagrate-form.flagrate-form-nolabel > div > div > p.flagrate-form-field-text:nth-child(4),
			form.flagrate-form.flagrate-form-nolabel > div > div > p.flagrate-form-field-text:nth-child(5),
			form.flagrate-form.flagrate-form-vertical > div > div > p.flagrate-form-field-text:nth-child(2),
			form.flagrate-form.flagrate-form-vertical > div > div > p.flagrate-form-field-text:nth-child(3),
			form.flagrate-form.flagrate-form-vertical > div > div > p.flagrate-form-field-text:nth-child(4),
			form.flagrate-form.flagrate-form-vertical > div > div > p.flagrate-form-field-text:nth-child(5) {
				border-top : none;
				border-left: 2px solid #ddd;
				background : none; }