.flagrate,
.flagrate * {
	position          : relative;
	margin            : 0;
	padding           : 0;
	line-height       : 1em;
	vertical-align    : baseline;
	border            : none;
	font-size         : 13px;
	font-style        : inherit;
	font-family       : inherit; }

input.flagrate,
textarea.flagrate {
	-webkit-appearance: none;
	border-radius     : 0; }

.flagrate-icon {
	background-repeat  : no-repeat;
	background-position: 5px center; }

button.flagrate-button {
	display           : inline-block;
	cursor            : pointer;
	padding           : 3px 5px 2px;
	border            : 2px solid rgba(0,0,0,0.2);
	box-shadow        : inset 0 0 0 rgba(0,0,0,0);
	background-color  : #555;
	color             : rgba(255,255,255,0.8);
	font-family       : inherit;
	font-size         : 12px;
	font-weight       : normal;
	line-height       : 1.5em;
	white-space       : nowrap;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition   : all 0.3s ease;
	-ms-transition    : all 0.3s ease;
	-o-transition     : all 0.3s ease;
	transition        : all 0.3s ease; }

button.flagrate-button.flagrate-icon {
	padding-left      : 24px; }

button.flagrate-button:focus,
button.flagrate-button:hover {
	border-color      : rgba(0,0,0,0.25);
	color             : rgba(255,255,255,1);
	box-shadow        : inset 0 30px 0 rgba(0,0,0,0.25); }

button.flagrate-button:active {
	border-color      : rgba(0,0,0,1); }

button.flagrate-button:focus {
	outline           : 2px solid rgba(0,0,0,0.2); }

button.flagrate-button.flagrate-button-disabled {
	cursor            : not-allowed;
	color             : rgba(255,255,255,0.5);
	border-color      : rgba(255,255,255,0.2);
	box-shadow        : inset 0 30px 0 rgba(255,255,255,0.2); }

button.flagrate-button.flagrate-button-color-blue   { background-color  : #1a60ed; }
button.flagrate-button.flagrate-button-color-pink   { background-color  : #d67fae; }
button.flagrate-button.flagrate-button-color-red    { background-color  : #bd362f; }
button.flagrate-button.flagrate-button-color-green  { background-color  : #5bb75b; }
button.flagrate-button.flagrate-button-color-orange { background-color  : #faa732; }

	button.flagrate-button > button.flagrate-button-remove {
		display    : inline-block;
		cursor     : pointer;
		color      : rgba(255,255,255,0.25);
		display    : inline-block;
		font-size  : 11px;
		margin-left: 4px;
		background : transparent; }
	
	button.flagrate-button > button.flagrate-button-remove:hover,
	button.flagrate-button > button.flagrate-button-remove:focus {
		color      : #fff;
		outline    : none; }
	
	button.flagrate-button > button.flagrate-button-remove:after {
		content    : '\2716'; }

div.flagrate-menu {
	z-index           : 1;
	display           : block;
	box-shadow        : 0 0 0 1px rgba(0,0,0,0.25), 0 0 0 2px rgba(0,0,0,0.15); }
	
	div.flagrate-menu > button,
	div.flagrate-menu > button:hover,
	div.flagrate-menu > button:focus {
		display         : block;
		width           : 100%;
		background-color: #fff;
		color           : #222;
		border          : none;
		box-shadow      : none;
		padding         : 4px 24px 3px;
		text-align      : left; }
	
	div.flagrate-menu > button:hover,
	div.flagrate-menu > button:focus {
		background-color: #eee; }
	
	div.flagrate-menu > button:active {
		color           : #000; }

input.flagrate-textinput,
textarea.flagrate-textarea,
div.flagrate-tokenizer {
	display           : block;
	border            : 1px solid rgba(0,0,0,0.4); 
	box-shadow        : inset 0 0 0 2px rgba(0,0,0,0.05);
	background-color  : #fff;
	padding           : 4px 8px;
	color             : #222;
	line-height       : 1.6em;
	width             : 220px; }

input.flagrate-textinput.flagrate-icon,
textarea.flagrate-textarea.flagrate-icon,
div.flagrate-tokenizer.flagrate-icon {
	padding-left      : 24px; }

input.flagrate-textinput:focus,
textarea.flagrate-textarea:focus,
div.flagrate-tokenizer:hover {
	border-color      : rgba(0,0,0,0.6);
	color             : #000;
	box-shadow        : none;
	outline           : none; }

div.flagrate-tokenizer {
	cursor            : text;
	padding           : 0px 4px 4px 2px;
	width             : 230px; }

div.flagrate-tokenizer.flagrate-icon {
	padding-left      : 22px;
	width             : 226px; }
	
	div.flagrate-tokenizer > span {
		display: inline-block;
		margin : 2px 0 0 2px; }
		
		div.flagrate-tokenizer > span > button.flagrate-button,
		div.flagrate-tokenizer > span > button.flagrate-button:hover,
		div.flagrate-tokenizer > span > button.flagrate-button:active {
			padding         : 2px 4px 1px;
			margin          : 2px 4px 0 0;
			cursor          : default;
			border-width    : 1px;
			border-color    : rgba(0,0,0,0.25);
			color           : rgba(0,0,0,0.85);
			font-size       : 10px;
			line-height     : 15px;
			background-color: #ddd;
			box-shadow      : none; }
			
			div.flagrate-tokenizer > span > button.flagrate-button > button.flagrate-button-remove {
				color           : rgba(0,0,0,0.35);
				font-size       : 10px;
				line-height     : 9px; }
			
			div.flagrate-tokenizer > span > button.flagrate-button > button.flagrate-button-remove:hover,
			div.flagrate-tokenizer > span > button.flagrate-button > button.flagrate-button-remove:focus {
				color           : #fff;
				background-color: rgba(0,0,0,0.4);
				box-shadow      : 0 0 0 2px rgba(0,0,0,0.4); }
	
	div.flagrate-tokenizer > input {
		display   : inline-block;
		width     : 65px;
		padding   : 0;
		margin    : 4px 0 0 2px;
		border    : none;
		box-shadow: none; }
	
	div.flagrate-tokenizer > div.flagrate-menu {
		position: absolute;
		top     : 100%; }

div.flagrate-notify {
	z-index           : 10000;
	background-color  : rgba(0,0,0,0.5);
	background-repeat : no-repeat;
	padding           : 10px;
	border            : 1px solid rgba(0,0,0,0.25);
	color             : rgba(255,255,255,0.8);
	box-shadow        : 0 0 0 2px rgba(0,0,0,0.15);
	line-height       : 15px;
	width             : 230px;
	opacity           : 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition   : all 0.2s ease;
	-ms-transition    : all 0.2s ease;
	-o-transition     : all 0.2s ease;
	transition        : all 0.2s ease; }
	
div.flagrate-notify:hover {
	background-color  : rgba(0,0,0,0.65);
	color             : #fff; }
	
	div.flagrate-notify > div.title {
		font-weight: bold;
		font-size  : 13px;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);
		color      : #fff;
		word-break : break-all; }
	
	div.flagrate-notify > div.text {
		margin-top : 5px;
		font-weight: normal;
		font-size  : 12px;
		line-height: 14px; }
	
	div.flagrate-notify > div.close {
		display    : none; }
	
	div.flagrate-notify:hover > div.close {
		display    : block;
		cursor     : pointer;
		position   : absolute;
		top        : 0;
		right      : 0;
		color      : #fff;
		background : #111;
		font-weight: bold;
		font-size  : 10px;
		line-height: 12px;
		padding    : 2px 4px; }
	
	div.flagrate-notify:hover > div.close:hover {
		cursor     : pointer;
		position   : absolute;
		top        : 0;
		right      : 0;
		color      : #fff;
		background : #ff6571;
		font-weight: bold;
		font-size  : 10px; }

div.flagrate-modal {
	z-index           : 10000;
	position          : fixed;
	top               : 0;
	right             : 0;
	bottom            : 0;
	left              : 0;
	overflow          : hidden;
	background-color  : transparent;
	
	-webkit-transition: all 0.1s ease 0.1s;
	-moz-transition   : all 0.1s ease 0.1s;
	-ms-transition    : all 0.1s ease 0.1s;
	-o-transition     : all 0.1s ease 0.1s;
	transition        : all 0.1s ease 0.1s; }

div.flagrate-modal.flagrate-modal-visible {
	background-color  : rgba(0,0,0,0.4); }

	div.flagrate-modal > div {
		z-index           : 1;
		opacity           : 0;
		position          : absolute;
		right             : 0;
		left              : 0;
		height            : auto;
		
		-webkit-transition: opacity 0.2s ease;
		-moz-transition   : opacity 0.2s ease;
		-ms-transition    : opacity 0.2s ease;
		-o-transition     : opacity 0.2s ease;
		transition        : opacity 0.2s ease; }
	
	div.flagrate-modal.flagrate-modal-visible > div {
		opacity           : 1; }
		
		div.flagrate-modal > div > div {
			position        : absolute;
			width           : auto;
			min-width       : 200px;
			height          : auto;
			background-color: white;
			box-shadow      : 0 0 0 1px rgba(0,0,0,0.25), 0 0 0 4px rgba(0,0,0,0.15); }
			
			/* close button */
			div.flagrate-modal > div > div > button {
				z-index         : 1;
				position        : absolute;
				top             : 10px;
				right           : 10px;
				background      : none;
				border          : none;
				color           : #aaa; }
			
			div.flagrate-modal > div > div > button:after {
				display    : inline-block;
				content    : '\2716';
				font-size  : 10px;
				font-weight: bold;
				font-family: inherit;
				text-shadow: 0 0 1px #fff; }
				
			div.flagrate-modal > div > div > button:focus,
			div.flagrate-modal > div > div > button:hover {
				color           : #e60012;
				box-shadow      : none; }
				
			div.flagrate-modal > div > div > button:active {
				color           : #000; }
			
			div.flagrate-modal > div > div > button:focus {
				outline         : none; }
			
			/* header */
			div.flagrate-modal > div > div > hgroup {
				padding         : 10px 40px 10px 10px;
				background-color: #f5f5f5; }
				
				div.flagrate-modal > div > div > hgroup > h1 {
					font-size  : 16px;
					line-height: 1.5em; }
				
				div.flagrate-modal > div > div > hgroup > small {
					font-size  : 11px;
					line-height: 1em; }
			
			/* content */
			div.flagrate-modal > div > div > div { }
				
				div.flagrate-modal > div > div > div > div {
					margin     : 10px 10px 0 10px;
					line-height: 1.5em; }
			
			/* footer */
			div.flagrate-modal > div > div > footer {
				padding         : 10px; }
			
			div.flagrate-modal > div > div > footer:before,
			div.flagrate-modal > div > div > footer:after {
				content         : "";
				display         : table; }
			
			div.flagrate-modal > div > div > footer:after {
				clear           : both; }
				
				div.flagrate-modal > div > div > footer > button {
					float      : right;
					margin-left: 5px; }