

div.flagrate-notify {
	z-index           : 1000;
	background-color  : #555;
	background-color  : rgba(0,0,0,0.5);
	background-repeat : no-repeat;
	padding           : 10px;
	border            : 1px solid rgba(0,0,0,0.25);
	color             : #eee;
	color             : rgba(255,255,255,0.8);
	box-shadow        : 0 0 0 2px rgba(0,0,0,0.15);
	line-height       : 15px;
	width             : 230px;
	opacity           : 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition   : all 0.2s ease;
	-ms-transition    : all 0.2s ease;
	-o-transition     : all 0.2s ease;
	transition        : all 0.2s ease; }
	
div.flagrate-notify:hover {
	background-color  : rgba(0,0,0,0.65);
	color             : #fff; }
	
	div.flagrate-notify > div.title {
		font-weight: bold;
		font-size  : 13px;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);
		color      : #fff;
		word-break : break-all; }
	
	div.flagrate-notify > div.text {
		margin-top : 5px;
		font-weight: normal;
		font-size  : 12px;
		line-height: 14px; }
	
	div.flagrate-notify > div.close {
		display      : none; }
	
	div.flagrate-notify:hover > div.close {
		display      : block;
		cursor       : pointer;
		position     : absolute;
		top          : 0;
		right        : 0;
		color        : #fff;
		background   : #111;
		font-weight  : bold;
		font-size    : 10px;
		line-height  : 12px;
		padding      : 2px 4px; }
	
	div.flagrate-notify:hover > div.close:hover {
		cursor       : pointer;
		position     : absolute;
		top          : 0;
		right        : 0;
		color        : #fff;
		background   : #ff6571;
		font-weight  : bold;
		font-size    : 10px; }